body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #ee4c06;
}
nav li:last-child a:hover {
  background: #d57149;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #d57149;
}

section.hero {
  background: #d3e3f7;
}

.size {
  background: #d3e3f7;
}

.add-to-cart {
  border: 2px solid #ee4c06;
  color: #ee4c06;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #ee4c06;
  border-color: #fff;
  color: #fff;
}
